<div class="buttons" style="float: none;background-color: #6c6;padding: 5px 10px;">
    Druk nu op
    <input type="submit" style="display: inline-block;background-color: #393;float:none;margin:0;" class="button" name="gegevensAkkoord" value="Akkoord"> om regels toe te voegen...
</div>

<div id="leveringenInLidstatenList" class="addRemoveList" style="display:none">
    <input type="hidden" name="data-max-repeats" value="28">
    <input id="meldinggegevens.leveringenInLidstaat.aantalLeveringen" name="meldinggegevens.leveringenInLidstaat.aantalLeveringen" class="addRemoveListCounter" type="hidden" value="{count}">

    {items}

    <p class="addRemoveAddButton">
        <a href="#" id="addRemoveLink"><img src="/pdforms2/media/images/pdforms2/icon_plus.gif" alt="Plus">
            Levering vanuit Nederland toevoegen</a>
    </p>
</div>

<br />
